/Source/ConnectFour/nbproject/private/
Source/ConnectFour/.idea/
Source/ConnectFour/ConnectFour.iml
Source/ConnectFour/out/
Source/ConnectFour/src/ch/hslu/prg2/hs14/team7/Test.java
/Source/ConnectFour/build/